<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script>
function checkPasswordMatch() {
    var password = $("#txtNewPassword").val();
    var confirmPassword = $("#txtConfirmPassword").val();

    if (password != confirmPassword)
        $("#divCheckPasswordMatch").html("Passwords do not match!");
    else
        $("#divCheckPasswordMatch").html("Passwords match.");
}</script>
<div class="bodyImage">
    <div class="container">
        <br />
        <br />
        <br />
        <br />

        <b id="login-name">Create acount</b>

        <div class="row">

            <div class="col-md-6 col-md-offset-3" id="login">

                <form  (submit)=signUpUser(f) #f="ngForm">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="user" for="name">Name: </label><br>
                            <div class="input-group">
                                <span class="input-group-addon" id="iconn"> <i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" required name="name" ngModel>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="user" for=" email">Email: </label><br>
                            <div class="input-group">
                                <span class="input-group-addon" id="iconn"> <i class="glyphicon glyphicon-user"></i></span>
                                <input type="email" class="form-control" required name="email" ngModel>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="user" for="password" id="txtNewPassword">Password: </label><br>
                            <div class="input-group">
                                <span class="input-group-addon" id="iconn1"> <i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" required name="password" ngModel>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="user" for="passworfVerification" minLength='5' id="txtConfirmPassword" onchange="checkPasswordMatch();">Password verification: </label><br>
                            
                            <div id="divCheckPasswordMatch"></div>


                            <div class="input-group">
                                <span class="input-group-addon" id="iconn1"> <i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" ngRequired="true" name="passworfVerification" ngModel>
                            </div>
                        </div>
                        <input type="submit" value="Create"  class="btn float-right btn-info " style="color: white; font-size: 15px; float: right; margin-right: 10px;">
                        <a routerLink='../login' style="color: #04B4AE; font-size: 15px; float: right; margin-right: 10px;">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>